
html {

    background-color: blanchedalmond;
}

a{

    font-size:120%  ;
    font-family: monospace;
    padding-left: 7%;

}

h1{
    
    text-align: center;
    color: black;
    font-style: oblique;
    font-family: monospace;
}

h2 {

    text-align: center;
    font-family: monospace;
    color: gray;
    text-shadow: 2px 2px 4px gray;

}

P {
   font-family: monospace;
   font-size:110%  
   
}




.img1 {
   text-align: center;
 }




.div1{
    display: inline-block;
    width: 40%;
}

.div2{
    display: inline-block;
    width: 40%;
    margin-left: 5%;
}

.container{
    padding-left: 8%;
    text-align: justify;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    
}


